<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Inscription à Rosetta Stone|Médiathèque Valais</title>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"></script>

  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide/css/base.css'>
  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide/css/vendors.min.css'>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/iframe-resizer@4.1.1/js/iframeResizer.contentWindow.min.js"></script>

</head>
<body>
  <div id="app">
    <div class="container">
      <header class="my-3">
        <hgroup>
          <h1>{{lang[this.userLang].heading.titleFirstLine}}</h1>
          <h2>{{lang[this.userLang].heading.titleSecondLine}}</h2>
        </hgroup>
        <p>{{lang[this.userLang].heading.subTitle}}</p>
      </header>
      <a :href="'mailto:'+this.helpEmail" class="float-right"><i class="far fa-question-circle"></i> {{lang[this.userLang].askHelp}}</a>
      <nav class="nav-lang-short ml-auto my-3 text-align-right">
        <ul>
          <li v-for="l in languages"><a :aria-label="l.name" v-on:click="addParam('lang', l.short)">{{l.capitalized}}</a></li>
          <!--<li><a aria-label="Español" v-on:click="addParam('lang', 'es')">ES</a></li>
          <li><a aria-label="ትግርኛ / tǝgrǝña" v-on:click="addParam('lang', 'ti')">TI (ትግርኛ)</a></li>-->
        </ul>
      </nav>
      <hr class="bold">

      <!-- If form submited -->
      <div class="" v-if="isSubmited">
        <div class="my-4">
          <div class="h4">Données transmises :</div>
          {{lang[this.userLang].label.firstName}}: {{validationData.firstName}}<br>
          {{lang[this.userLang].label.lastName}}: {{validationData.lastName}}<br>
          {{lang[this.userLang].label.email}}: {{validationData.email}}<br>
          {{lang[this.userLang].label.cardNumber}}: {{validationData.cardNumber}}<br>
          {{lang[this.userLang].label.birthDate}}: {{validationData.birthDate}}<br>
          {{lang[this.userLang].label.address}}: {{validationData.address}} {{validationData.postalCode}}, {{validationData.addressLocality}}<br>
          {{lang[this.userLang].label.legalRepresentative}}: {{validationData.legalRepresentative}}<br>
          {{lang[this.userLang].label.learningLanguage}}: {{validationData.learningLanguage}}<br>
          {{lang[this.userLang].label.motherLanguage}}: {{validationData.motherLanguage}}<br>
          {{lang[this.userLang].label.message}}: {{inputMessage}}<br>
        </div>
        <div class="my-4">
          <div class="h3">1.</div>
          <p>{{lang[this.userLang].confirmationMessage}} :</p>
          <button type="button" name="sendConfirmation" class="btn btn-large btn-primary btn-block mt-2" v-on:click="send">{{lang[this.userLang].confirmationLabel}}</button>
        </div>
      </div>

      <!-- If form sent -->
      <div class="" v-if="isSent">
        <!-- Paper form -->
        <div class="d-none d-print-block">
          <div id="validationFormPrint" class="my-6 mx-6 " style="font-size:12px;">
            <div class="h4 mb-1">{{lang[this.userLang].form.mv}}</div>
            <div class="h3 mb-4">{{lang[this.userLang].form.cel}} - {{lang[this.userLang].heading.titleFirstLine}} {{lang[this.userLang].heading.titleSecondLine}}</div>
            <div class="my-4">
              <div class="h4">{{lang[this.userLang].form.data}} :</div>
              {{lang[this.userLang].label.firstName}}: {{validationData.firstName}}<br>
              {{lang[this.userLang].label.lastName}}: {{validationData.lastName}}<br>
              {{lang[this.userLang].label.email}}: {{validationData.email}}<br>
              {{lang[this.userLang].label.cardNumber}}: {{validationData.cardNumber}}<br>
              {{lang[this.userLang].label.birthDate}}: {{validationData.birthDate}}<br>
              {{lang[this.userLang].label.address}}: {{validationData.address}} {{validationData.postalCode}}, {{validationData.addressLocality}}<br>
              {{lang[this.userLang].label.legalRepresentative}}: {{validationData.legalRepresentative}}<br>
              {{lang[this.userLang].label.message}}: <br>{{inputMessage}}<br>
            </div>
            <div class="my-4">
              <div class="h4">{{lang[this.userLang].form.languageChoice}}: {{validationData.learningLanguage}}</div>
              <br>
              <p>{{lang[this.userLang].label.motherLanguage}} : {{validationData.motherLanguage}}</p>
            </div>
            <div class="my-4">
              <div class="h4">{{lang[this.userLang].form.conditions}}</div>
              <p>{{lang[this.userLang].form.conditionsActivation}}</p>
              <p>{{lang[this.userLang].form.conditionsEngegement}}</p>
            </div>
            <div class="my-4">
              <p>{{lang[this.userLang].form.placeDate}} :   ____________________________________   {{lang[this.userLang].form.signature}} :  __________________________________</p>
            </div>
          </div>
        </div>
        <!-- Paper form end -->
        <p>{{lang[this.userLang].validationMessage}}</p>
        <div class="my-4">
          <div class="h3">2.</div>
          <p>{{lang[this.userLang].sendFormText}} : <a :href="'mailto:'+validationData.site+'?subject=Cours%20en%20ligne%3A%20Inscription%20extraordinaire%20-%20Formulaire&body=Bonjour%2C%0A%0AJe%20vous%20fait%20parvenir%20en%20pi%E8ce-jointe%20mon%20formulaire%20d%27inscription%20rempli%2C%20dat%E9%20et%20sign%E9.%0AVoici%20mon%20num%E9ro%20de%20carte%20%3A%20'+validationData.cardNumber+'.%0A%0AMeilleures%20salutations%20et%20belle%20journ%E9e%20%21%0A'+validationData.firstName+'%20'+validationData.lastName">{{validationData.site}}</a></p>
          <button type="button" name="dowloadForm" class="btn btn-large btn-primary btn-block mt-2" v-on:click="dowloadForm">{{lang[this.userLang].donwloadFormButton}}</button>
        </div>
        <div class="my-4">
          <div class="h3">3.</div>
          <p>{{lang[this.userLang].documentationText}} :</p>
          <a type="button" name="generalInformations" class="btn btn-large btn-primary btn-block mt-2" :href=lang[this.userLang].documentationButtonInfoUrl target="_blank">{{lang[this.userLang].documentationButtonInfo}}</a>
          <a type="button" name="documentation" class="btn btn-large btn-primary btn-block mt-2" :href=lang[this.userLang].documentationButtonDocumentationUrl target="_blank">{{lang[this.userLang].documentationButtonDocumentation}}</a>
        </div>
      </div>

      <!-- Form -->
      <form id="form" class="needs-validation my-4" novalidate v-show="isForm">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inputFirstName">{{lang[this.userLang].label.firstName}} <span class="required">*</span></label>
            <input type="text" class="form-control" id="inputFirstName" v-model="inputFirstName" required>
            <div class="invalid-feedback">Indicate your first name.</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="inputLastName">{{lang[this.userLang].label.lastName}} <span class="required">*</span></label>
            <input type="text" class="form-control" id="inputLastName" v-model="inputLastName" required>
            <div class="invalid-feedback">Indicate your last name.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inputEmail">{{lang[this.userLang].label.email}} <span class="required">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputEmail">@</span>
              </div>
              <input type="email" class="form-control" id="inputEmail" v-model="inputEmail" required>
              <small id="inputEmailHelp" class="form-text text-muted">{{lang[this.userLang].label.emailHelp}}</small>
              <div class="invalid-feedback">Please, enter a valid mail address.</div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="inputCardNumber">{{lang[this.userLang].label.cardNumber}} <span class="required">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputCardNumber">#</span>
              </div>
              <input type="text" class="form-control" id="inputCardNumber" v-model="inputCardNumber" placeholder="20100xxxxx" aria-describedby="inputCardNumber" required>
              <small id="inputCardNumberHelp" class="form-text text-muted">{{lang[this.userLang].label.cardNumberHelp}} : <a href="https://www.mediatheque.ch/fr/inscription-111.html" target="_blank">{{lang[this.userLang].label.registration}}</a>.</small>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label for="inputBirthDate">{{lang[this.userLang].label.birthDate}} <span class="required">*</span></label>
            <input type="date" class="form-control" id="inputBirthDate" v-model="inputBirthDate" aria-describedby="inputBirthDate" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inputAddress">{{lang[this.userLang].label.address}} <span class="required">*</span></label>
            <input type="text" class="form-control" id="inputAddress" v-model="inputAddress" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="inputZip">{{lang[this.userLang].label.postalCode}} <span class="required">*</span></label>
            <input type="number" class="form-control" id="inputZip" v-model="inputZip" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="inputLocality">{{lang[this.userLang].label.addressLocality}} <span class="required">*</span></label>
            <input type="text" class="form-control" id="inputLocality" v-model="inputLocality" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="inputLegalRepresentative">{{lang[this.userLang].label.legalRepresentative}}</label>
            <input type="text" class="form-control" id="inputLegalRepresentative" v-model="inputLegalRepresentative"  value="" aria-describedby="inputLegalRepresentative">
            <small id="inputLegalRepresentativeHelp" class="form-text text-muted">{{lang[this.userLang].label.legalRepresentativeHelp}}</small>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inputLearningLanguage">{{lang[this.userLang].label.learningLanguage}}</label>
            <select class="form-control" id="inputLearningLanguage" v-model="inputLearningLanguage" required>
              <option disabled>A1/A2</option>
              <option disabled>----------</option>
              <option v-for="(value, key) in inputBeginnerLanguages[this.userLang]" :value="value">{{ value }} ({{key}})</option>
              <option disabled>B1-C1</option>
              <option disabled>----------</option>
              <option v-for="(value, key) in inputAdvancedLanguages[this.userLang]" :value="value">{{ value }} ({{key}})</option>
            </select>
            <small id="inputLearningLanguageHelp" class="form-text text-muted">{{lang[this.userLang].label.learningLanguageHelp}}</small>
          </div>
          <div class="col-md-6 mb-3">
            <label for="inputMotherLanguage">{{lang[this.userLang].label.motherLanguage}}</label>
            <select class="form-control" id="inputMotherLanguage" v-model="inputMotherLanguage" required>
              <option v-for="(value, key) in inputInterfaceLanguage[this.userLang]" :value="value">{{ value }} ({{key}})</option>
            </select>
            <small id="inputMotherLanguageHelp" class="form-text text-muted">{{lang[this.userLang].label.motherLanguageHelp}}</small>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="inputDate">{{lang[this.userLang].label.site}} <span class="required">*</span></label>
            <select class="form-control" id="inputSite" v-model="inputSite" required>
              <option value="mediathek-wallis-ausbildung@admin.vs.ch">Brig</option>
              <option value="mv-formation@admin.vs.ch">Sion</option>
              <option value="christelle.frossard@admin.vs.ch">Martigny</option>
              <option value="flora.gagnerie@admin.vs.ch">St-Maurice</option>
            </select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="inputMessage">{{lang[this.userLang].label.message}}</label>
            <textarea class="form-control" id="inputMessage" rows="3" v-model="inputMessage" value=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="inputCheckConditions" v-model="inputCheckConditions" required>
            <label class="form-check-label" for="inputCheckConditions"><span class="required">*</span> {{lang[this.userLang].label.checkConditions}}</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="inputCheck" v-model="inputCheck" required>
            <label class="form-check-label" for="inputCheck"><span class="required">*</span> {{lang[this.userLang].label.check}}</label>
          </div>
        </div>
        <button class="btn btn-primary" type="button" v-on:click="submitForm" disabled>{{lang[this.userLang].label.submit}}</button>
        <a :href="'mailto:'+this.helpEmail" class="ml-4"><i class="far fa-question-circle"></i> {{lang[this.userLang].askHelp}}</a>
      </form>
    </div>
  </div>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

<script>
const languages = [
  {
    name: 'Français',
    short: 'fr',
    capitalized: 'FR'
  },
  {
    name: 'Deutsch',
    short: 'de',
    capitalized: 'DE'
  },
  {
    name: 'English',
    short: 'en',
    capitalized: 'EN'
  },
  {
    name: 'Italiano',
    short: 'it',
    capitalized: 'IT'
  },
];

var app = new Vue({
  el: '#app',
  data: {
    helpEmail: 'mv-formation@admin.vs.ch',
    languages: languages,
    sessionsList: [],
    validationData: {},
    isForm: true,
    isSent: false,
    isSubmited: false,
    from: 'mv-formation@admin.vs.ch',
    subject: 'Cours en ligne: RS-Inscription extraordinaire',
    template: 'https://valais-media-library.gitlab.io/mv-forms/email-templates/registration-rs.html',
    confirmation: 'false',
    inputFirstName: null,
    inputLastName: null,
    inputEmail: null,
    inputCardNumber: null,
    inputAddress: null,
    inputBirthDate: null,
    inputZip: null,
    inputLocality: null,
    inputLegalRepresentative: null,
    inputLearningLanguage: null,
    inputMotherLanguage: null,
    inputSite: null,
    inputCheckConditions: null,
    inputCheck: null,
    inputMessage: null,
    inputBeginnerLanguages: {
    "en":
    {"ar":"Arabic","zh":"Chinese","nl":"Dutch","fil":"Filipino","fr":"French","de":"German","el":"Greek","he":"Hebrew","hi":"Hindi","ga":"Irish","it":"Italian","ja":"Japanese","ko":"Korean","fa":"Persian","pl":"Polish","pt":"Portuguese","ru":"Russian","es":"Spanish","sv":"Swedish","tr":"Turkish","vi":"Vietnamese"},
    "fr":
    {"de":"Allemand","ar":"Arabe","zh":"Chinois","ko":"Coréen","es":"Espagnol","fil":"Filipino","fr":"Français","el":"Grec","hi":"Hindi","he":"Hébreu","ga":"Irlandais","it":"Italien","ja":"Japonais","nl":"Néerlandais","fa":"Persan","pl":"Polonais","pt":"Portugais","ru":"Russe","sv":"Suédois","tr":"Turc","vi":"Vietnamien"},
    "de":
    {"ar":"Arabisch","zh":"Chinesisch","de":"Deutsch","fil":"Filipino","fr":"Französisch","el":"Griechisch","he":"Hebräisch","hi":"Hindi","ga":"Irisch","it":"Italienisch","ja":"Japanisch","ko":"Koreanisch","nl":"Niederländisch","fa":"Persisch","pl":"Polnisch","pt":"Portugiesisch","ru":"Russisch","sv":"Schwedisch","es":"Spanisch","tr":"Türkisch","vi":"Vietnamesisch"},
    "it":
    {"ar":"arabo","zh":"cinese","ko":"coreano","he":"ebraico","fil":"filippino","fr":"francese","ja":"giapponese","el":"greco","hi":"hindi","ga":"irlandese","it":"italiano","nl":"olandese","fa":"persiano","pl":"polacco","pt":"portoghese","ru":"russo","es":"spagnolo","sv":"svedese","de":"tedesco","tr":"turco","vi":"vietnamita"},
    "_comment":
    "http://www.localeplanet.com/api/auto/langmap.json?lang=ar,zh,de,nl,fil,fr,el,he,hi,ga,it,ja,ko,fa,pl,pt,ru,es,sv,tr,vi"
    },
    inputAdvancedLanguages: {
      "en": {"en":"English","fr":"French","de":"German","it":"Italian","es":"Spanish"},
      "fr": {"de":"Allemand","en":"Anglais","es":"Espagnol","fr":"Français","it":"Italien"},
      "de": {"de":"Deutsch","en":"Englisch","fr":"Französisch","it":"Italienisch","es":"Spanisch"},
      "it": {"fr":"francese","en":"inglese","it":"italiano","es":"spagnolo","de":"tedesco"}
    },
    inputInterfaceLanguage: {
      "en":{"zh":"Chinese","nl":"Dutch","en":"English","fr":"French","de":"German","id":"Indonesian","it":"Italian","ja":"Japanese","ko":"Korean","pl":"Polish","pt":"Portuguese","ru":"Russian","es":"Spanish"},
      "fr":{"de":"Allemand","en":"Anglais","zh":"Chinois","ko":"Coréen","es":"Espagnol","fr":"Français","id":"Indonésien","it":"Italien","ja":"Japonais","nl":"Néerlandais","pl":"Polonais","pt":"Portugais","ru":"Russe"},
      "de":{"zh":"Chinesisch","de":"Deutsch","en":"Englisch","fr":"Französisch","id":"Indonesisch","it":"Italienisch","ja":"Japanisch","ko":"Koreanisch","nl":"Niederländisch","pl":"Polnisch","pt":"Portugiesisch","ru":"Russisch","es":"Spanisch"},
      "it": {"zh":"cinese","ko":"coreano","fr":"francese","ja":"giapponese","id":"indonesiano","en":"inglese","it":"italiano","nl":"olandese","pl":"polacco","pt":"portoghese","ru":"russo","es":"spagnolo","de":"tedesco"},
      "_comment": "http://www.localeplanet.com/api/auto/langmap.json?lang=de,en,fr,es,it,nl,id,pl,pt,ja,ko,ru,zh"
    },
    userLang: 'fr',
    lang: {
      fr: {
        label: {
          firstName: 'Prénom',
          lastName: 'Nom de famille',
          email: 'E-mail',
          cardNumber: '№ de carte',
          address: 'Adresse',
          birthDate: 'Date de naissance',
          postalCode: 'Code postal',
          addressLocality: 'Localité',
          legalRepresentative: 'Représentant légal',
          learningLanguage: 'Langue d\'apprentissage',
          motherLanguage: 'Langue maternelle',
          site: 'Votre médiathèque',
          checkConditions: 'Je confirme avoir pris connaissance que la gratuité de l\'offre est effective uniquement si un minimum de 20h d\'apprentissage est atteint sur une année.',
          check: 'Je confirme avoir rempli le formulaire de manière conforme à la réalité.',
          message: 'Message / Remarque',
          submit: 'Envoyer',
          cardNumberHelp: "Numéro présent en dessous du code-barre de votre carte de bibliothèque ou Bibliopass. Si vous ne possédez pas de carte, veuillez vous inscrire",
          emailHelp: "Votre adresse mail va nous permettre de vous confirmer votre inscription et de vous transmettre vos identifiants",
          registration: "Inscription",
          legalRepresentativeHelp: "Si vous êtes mineur, veuillez indiquer le nom, prénom et adresse de votre représentant légal.",
          learningLanguageHelp: "Vous ne pouvez apprendre qu'une seule langue à la fois.",
          motherLanguageHelp: "Langue de la plateforme.",
        },
        heading: {
          titleFirstLine: "Inscription",
          titleSecondLine: "à Rosetta Stone",
          subTitle: "Apprentissage de langues étrangères",
        },
        form: {
          mv: "Médiathèque Valais",
          cel: "Cours en ligne",
          data: "Données transmises",
          languageChoice: "Choix de la langue",
          languageChoose: "Choisissez la langue",
          onlyOne: "une seule coche",
          levelBeginer: "Niveau débutant",
          levelAdvanced: "Niveau intermédiaire à avancé",
          conditions: "Conditions",
          conditionsActivation: "Vos accès sont activés au retour de ce formulaire complété et signé. Dès que la licence est activée, vos accès à Rosetta Stone ne peuvent être annulés.",
          conditionsEngegement: "Par votre signature, vous vous engagez à utiliser Rosetta Stone pour un minimum de 20 heures sur une année. Si ce quota ne devait pas être atteint à l’expiration de la licence, la Médiathèque Valais vous facturera un montant forfaitaire de Fr. 50.- par licence.",
          placeDate: "Lieu et date",
          signature: "Signature",
          availableLanguages: `<div><span class="mr-4">☐&nbsp;Allemand</span> <span class="mr-4">☐&nbsp;Anglais</span> <span class="mr-4">☐&nbsp;Arabe</span> <span class="mr-4">☐&nbsp;Chinois&nbsp;(mandarin)</span> <span class="mr-4">☐&nbsp;Coréen</span><span class="mr-4">☐&nbsp;Espagnol</span> <span class="mr-4">☐&nbsp;Filipino&nbsp;(Tagalog)</span></div><div><span class="mr-4">☐&nbsp;Français</span> <span class="mr-4">☐&nbsp;Grec</span> <span class="mr-4">☐&nbsp;Hindi</span> <span class="mr-4">☐&nbsp;Hébreu</span> <span class="mr-4">☐&nbsp;Irlandais</span> <span class="mr-4">☐&nbsp;Italien</span> <span class="mr-4">☐&nbsp;Japonais</span> <span class="mr-4">☐&nbsp;Néerlandais</span></div><div><span class="mr-4">☐&nbsp;Persan&nbsp;(Farsi)</span> <span class="mr-4">☐&nbsp;Polonais</span> <span class="mr-4">☐&nbsp;Portugais</span> <span class="mr-4">☐&nbsp;Russe</span> <span class="mr-4">☐&nbsp;Suédois</span> <span class="mr-4">☐&nbsp;Turc</span> <span class="mr-4">☐&nbsp;Vietnamien</span></div>`,
        },
        askHelp: 'Demander de l\'aide',
        validationMessage: 'Votre inscription à été envoyée.',
        confirmationLabel: 'Continuer',
        confirmationMessage: 'Continuez en nous envoyant un mail:',
        donwloadFormButton: "Télécharger le formulaire",
        sendFormText: "Pour valider votre inscription, veuillez nous envoyer le formulaire rempli, daté et signé à",
        documentationText: "N'oubliez pas de lire les informations générales et de prendre connaissance de la documentation",
        documentationButtonInfo: "Informations générales",
        documentationButtonInfoUrl: "https://www.mediatheque.ch/data/documents/visite_formation/CEL-Informations.pdf",
        documentationButtonDocumentation: "Documentation",
        documentationButtonDocumentationUrl: "https://www.mediatheque.ch/fr/cours-ligne-104.html",
      },
      de: {
        label: {
          firstName: 'Vorname',
          lastName: 'Name',
          email: 'E-Mail',
          cardNumber: 'Kartennummer',
          address: 'Adresse',
          birthDate: 'Geburtsdatum',
          postalCode: 'Postleitzahl',
          addressLocality: 'Ort',
          legalRepresentative: 'Gesetzlicher Vertreter',
          learningLanguage: 'Gewünschte Lernsprache',
          motherLanguage: 'Muttersprache',
          site: 'Ihre Mediathek',
          checkConditions: 'Ich bestätige, dass ich mir bewusst bin, dass das kostenlose Angebot nur dann wirksam ist, wenn ein Minimum von 20 Lernstunden im Laufe eines Jahres erreicht wird.',
          check: 'Ich bestätige, dass ich das Formular wahrheitsgetreu ausgefüllt habe.',
          message: 'Bemerkung',
          submit: 'Anmelden',
          cardNumberHelp: "Die Nummer befindet sich unter dem Strichcode Ihres Bibliotheksausweises oder Bibliopasses. Wenn Sie keine Karte haben, melden Sie sich bitte an",
          emailHelp: "Ihre E-Mail-Adresse ermöglicht es uns, Ihre Registrierung zu bestätigen und Ihnen Ihr Login und Passwort zuzusenden.",
          registration: "Anmeldung",
          legalRepresentativeHelp: "Wenn Sie minderjährig sind, geben Sie bitte den Namen, Vornamen und die Adresse Ihres gesetzlichen Vertreters an.",
          learningLanguageHelp: "Sie können nur eine Sprache zur gleichen Zeit lernen.",
          motherLanguageHelp: "Sprache der Plattform.",
        },
        heading: {
          titleFirstLine: "Anmeldung",
          titleSecondLine: "bei Rosetta Stone",
          subTitle: "Fremdsprachen lernen",
        },
        form: {
          mv: "Mediathek Wallis",
          cel: "Online-Kurse",
          data: "Übermittelte Daten",
          languageChoice: "Wahl der Sprache",
          languageChoose: "Wählen Sie eine Sprache",
          onlyOne: "unterstreichen oder Häkchen setzen",
          levelBeginer: "Anfänger ohne Vorkenntnisse",
          levelAdvanced: "Mittelstufe bis Fortgeschrittene",
          conditions: "Bedingungen",
          conditionsActivation: "Die Lizenz wird aktiviert, sobald das ausgefüllte und unterschriebene Formular abgegeben wird. Sobald eine Lizenz bei Rosetta Stone aktiviert ist, kann dies nicht mehr rückgängig gemacht werden.",
          conditionsEngegement: "Ich bin mir bewusst, dass das Angebot nur dann kostenlos ist, wenn ich das Minimum von 20 Stunden in einem Jahr erreiche. ",
          placeDate: "Datum und Ort",
          signature: "Unterschrift",
          availableLanguages: `<div><span class="mr-4">☐&nbsp;Deutsch</span> <span class="mr-4">☐&nbsp;English</span> <span class="mr-4">☐&nbsp;Arabisch</span> <span class="mr-4">☐&nbsp;Chinesisch &nbsp;(Mandarin)</span> <span class="mr-4">☐&nbsp;Koreanisch</span><span class="mr-4">☐&nbsp;Spanisch</span> <span class="mr-4">☐&nbsp;Filipino &nbsp;(Tagalong)</span></div><div><span class="mr-4">☐&nbsp;Französisch</span> <span class="mr-4">☐&nbsp;Griechisch</span> <span class="mr-4">☐&nbsp;Hindi</span> <span class="mr-4">☐&nbsp;Hebräisch</span> <span class="mr-4">☐&nbsp;Irisch</span> <span class="mr-4">☐&nbsp;Italienisch</span> <span class="mr-4">☐&nbsp;Japanisch</span> <span class="mr-4">☐&nbsp;Dutch</span></div><div><span class="mr-4">☐&nbsp;Persisch&nbsp;(Farsi)</span> <span class="mr-4">☐&nbsp;Polnisch</span> <span class="mr-4">☐&nbsp;Portugisisch</span> <span class="mr-4">☐&nbsp;Russisch</span> <span class="mr-4">☐&nbsp;Schwedisch</span> <span class="mr-4">☐&nbsp;Türkisch</span> <span class="mr-4">☐&nbsp;Vietnamesisch</span></div>`,
        },
        askHelp: 'Hilfe',
        validationMessage: 'Ihre Anmeldung wurde gesendet.',
        confirmationLabel: 'Bestätigen und senden',
        confirmationMessage: 'Zur Bestätigung und Anmeldung bei Rosetta Stone klicken Sie auf diese Schaltfläche.',
        donwloadFormText: "Laden Sie das Formular herunter, füllen Sie es aus, datieren und unterschreiben Sie es.",
        donwloadFormButton: "Das Formular herunterladen",
        sendFormText: "Um Ihre Anmeldung zu bestätigen, senden Sie bitte das Formular als Anhang, datiert und unterschrieben an",
        documentationText: "Vergessen Sie nicht, die allgemeinen Informationen zu lesen und die Dokumentation zur Kenntnis zu nehmen.",
        documentationButtonInfo: "Allgemeine Informationen",
        documentationButtonInfoUrl: "https://www.mediatheque.ch/data/documents/visite_formation/CEL-Informations-de.pdf",
        documentationButtonDocumentation: "Dokumentation",
        documentationButtonDocumentationUrl: "https://www.mediatheque.ch/de/online-kurse-104.html",
      },
      en: {
        label: {
          firstName: 'First name',
          lastName: 'Last name',
          email: 'E-mail',
          cardNumber: 'Card number',
          address: 'Address',
          birthDate: 'Birth date',
          postalCode: 'Postal code',
          addressLocality: 'Locality',
          site: 'You Media library',
          checkConditions: 'I confirm that I am aware of the fact that the offer is free of charge only if a minimum of 20 hours of apprenticeship is reached over one year.',
          legalRepresentative: 'Legal representative',
          learningLanguage: 'Language of learning',
          motherLanguage: 'Mother tongue',
          check: 'I confirm that I have completed the form in accordance with reality.',
          message: 'Message',
          submit: 'Submit',
          cardNumberHelp: "Numéro présent en dessous du code-barre de votre carte de bibliothèque ou Bibliopass. Si vous ne possédez pas de carte, vous devez vous inscrire",
          emailHelp: "Votre adresse mail va nous permettre de vous confirmer votre inscription et de vous transmettre vos identifiants",
          registration: "Inscription",
          legalRepresentativeHelp: "Si vous êtes mineur, veuillez indiquer le nom, prénom et adresse de votre représentant légal.",
          learningLanguageHelp: "You can only learn one language at a time.",
          motherLanguageHelp: "Platform language.",
        },
        heading: {
          titleFirstLine: "Registration",
          titleSecondLine: "for Rosetta Stone",
          subTitle: "Foreign language learning",
        },
        form: {
          data: "Données transmises",
          languageChoice: "Choix de la langue",
          languageChoose: "Choisissez la langue",
          onlyOne: "une seule coche",
          levelBeginer: "Niveau débutant",
          levelAdvanced: "Niveau intermédiaire à avancé",
          conditions: "Conditions",
          conditionsActivation: "Vos accès sont activés au retour de ce formulaire complété et signé. Dès que la licence est activée, vos accès à Rosetta Stone ne peuvent être annulés.",
          conditionsEngegement: "Par votre signature, vous vous engagez à utiliser Rosetta Stone pour <strong>un minimum de 20 heures sur une année</strong>. Si ce quota ne devait pas être atteint à l’expiration de la licence, la Médiathèque Valais vous facturera un montant forfaitaire de <strong>Fr. 50.- par licence</strong>.",
          placeDate: "Lieu et date",
          signature: "Signature",
          availableLanguages: `<div><span class="mr-4">☐&nbsp;Allemand</span> <span class="mr-4">☐&nbsp;Anglais</span> <span class="mr-4">☐&nbsp;Arabe</span> <span class="mr-4">☐&nbsp;Chinois&nbsp;(mandarin)</span> <span class="mr-4">☐&nbsp;Coréen</span><span class="mr-4">☐&nbsp;Espagnol</span> <span class="mr-4">☐&nbsp;Filipino&nbsp;(Tagalog)</span></div><div><span class="mr-4">☐&nbsp;Français</span> <span class="mr-4">☐&nbsp;Grec</span> <span class="mr-4">☐&nbsp;Hindi</span> <span class="mr-4">☐&nbsp;Hébreu</span> <span class="mr-4">☐&nbsp;Irlandais</span> <span class="mr-4">☐&nbsp;Italien</span> <span class="mr-4">☐&nbsp;Japonais</span> <span class="mr-4">☐&nbsp;Néerlandais</span></div><div><span class="mr-4">☐&nbsp;Persan&nbsp;(Farsi)</span> <span class="mr-4">☐&nbsp;Polonais</span> <span class="mr-4">☐&nbsp;Portugais</span> <span class="mr-4">☐&nbsp;Russe</span> <span class="mr-4">☐&nbsp;Suédois</span> <span class="mr-4">☐&nbsp;Turc</span> <span class="mr-4">☐&nbsp;Vietnamien</span></div>`,
        },
        askHelp: 'Ask for help',
        validationMessage: 'Your registration has been successfully sent.',
        confirmationLabel: 'Confirm and send',
        confirmationMessage: 'Pour confirmer, envoyer nous un mail en cliquant sur ce bouton',
        donwloadFormText: "Téléchargez le formulaire, remplissez-le, datez-le et signez-le",
        donwloadFormButton: "Télécharger le formulaire",
        sendFormText: "Pour valider votre inscription, veuillez envoyer le formulaire en pièce-jointe daté et signé à",
        documentationText: "N'oubliez pas de lire les informations générales et de prendre connaissance de la documentation",
        documentationButtonInfo: "Informations générales",
        documentationButtonInfoUrl: "https://www.mediatheque.ch/data/documents/visite_formation/CEL-Informations.pdf",
        documentationButtonDocumentation: "Documentation",
        documentationButtonDocumentationUrl: "https://www.mediatheque.ch/fr/cours-ligne-104.html",
      },
      it: {
        label: {
          firstName: 'Cognome',
          lastName: 'Nome',
          email: 'E-mail',
          cardNumber: 'Numero di carta',
          address: 'Indirizzo',
          birthDate: 'Data di nascita',
          postalCode: 'Codice postale',
          addressLocality: 'Località',
          site: 'La Sua Biblioteca',
          checkConditions: 'Confermo di essere consapevole che l\'offerta e gratuita solo se si raggiunge un minimo di 20 ore di apprendimento in un anno.',
          legalRepresentative: 'Représentant légal',
          learningLanguage: 'Lingua di apprendimento',
          motherLanguage: 'Lingua madre',
          check: 'Confermo aver completato il formulario secondo la realtà.',
          message: 'Messagio',
          submit: 'Invia',
          cardNumberHelp: "Numéro présent en dessous du code-barre de votre carte de bibliothèque ou Bibliopass. Si vous ne possédez pas de carte, vous devez vous inscrire",
          emailHelp: "Votre adresse mail va nous permettre de vous confirmer votre inscription et de vous transmettre vos identifiants",
          registration: "Inscription",
          legalRepresentativeHelp: "Si vous êtes mineur, veuillez indiquer le nom, prénom et adresse de votre représentant légal.",
          learningLanguageHelp: "Si può imparare una sola lingua alla volta.",
          motherLanguageHelp: "Lingua della piattaforma.",
        },
        heading: {
          titleFirstLine: "Iscrizione",
          titleSecondLine: "per Rosetta Stone",
          subTitle: "Apprendimento delle lingue straniere",
        },
        form: {
          data: "Données transmises",
          languageChoice: "Choix de la langue",
          languageChoose: "Choisissez la langue",
          onlyOne: "une seule coche",
          levelBeginer: "Niveau débutant",
          levelAdvanced: "Niveau intermédiaire à avancé",
          conditions: "Conditions",
          conditionsActivation: "Vos accès sont activés au retour de ce formulaire complété et signé. Dès que la licence est activée, vos accès à Rosetta Stone ne peuvent être annulés.",
          conditionsEngegement: "Par votre signature, vous vous engagez à utiliser Rosetta Stone pour <strong>un minimum de 20 heures sur une année</strong>. Si ce quota ne devait pas être atteint à l’expiration de la licence, la Médiathèque Valais vous facturera un montant forfaitaire de <strong>Fr. 50.- par licence</strong>.",
          placeDate: "Lieu et date",
          signature: "Signature",
          availableLanguages: `<div><span class=mr-4">☐&nbsp;Allemand</span> <span class="mr-4">☐&nbsp;Anglais</span> <span class="mr-4">☐&nbsp;Arabe</span> <span class="mr-4">☐&nbsp;Chinois&nbsp;(mandarin)</span> <span class="mr-4">☐&nbsp;Coréen</span><span class="mr-4">☐&nbsp;Espagnol</span> <span class="mr-4">☐&nbsp;Filipino&nbsp;(Tagalog)</span></div><div><span class="mr-4">☐&nbsp;Français</span> <span class="mr-4">☐&nbsp;Grec</span> <span class="mr-4">☐&nbsp;Hindi</span> <span class="mr-4">☐&nbsp;Hébreu</span> <span class="mr-4">☐&nbsp;Irlandais</span> <span class="mr-4">☐&nbsp;Italien</span> <span class="mr-4">☐&nbsp;Japonais</span> <span class="mr-4">☐&nbsp;Néerlandais</span></div><div><span class="mr-4">☐&nbsp;Persan&nbsp;(Farsi)</span> <span class="mr-4">☐&nbsp;Polonais</span> <span class="mr-4">☐&nbsp;Portugais</span> <span class="mr-4">☐&nbsp;Russe</span> <span class="mr-4">☐&nbsp;Suédois</span> <span class="mr-4">☐&nbsp;Turc</span> <span class="mr-4">☐&nbsp;Vietnamien</span></div>`,
        },
        askHelp: 'Chiedere aiuto',
        validationMessage: 'La registrazione alla sessione informativa è stata completata con successo.',
        confirmationLabel: 'Conferma e invia',
        confirmationMessage: 'Pour confirmer, envoyer nous un mail en cliquant sur ce bouton',
        donwloadFormText: "Téléchargez le formulaire, remplissez-le, datez-le et signez-le",
        donwloadFormButton: "Télécharger le formulaire",
        sendFormText: "Pour valider votre inscription, veuillez envoyer le formulaire en pièce-jointe daté et signé à",
        documentationText: "N'oubliez pas de lire les informations générales et de prendre connaissance de la documentation",
        documentationButtonInfo: "Informations générales",
        documentationButtonInfoUrl: "https://www.mediatheque.ch/data/documents/visite_formation/CEL-Informations.pdf",
        documentationButtonDocumentation: "Documentation",
        documentationButtonDocumentationUrl: "https://www.mediatheque.ch/fr/cours-ligne-104.html",
      },
    },
  },
  methods: {
    submitForm: function () {
      var templateData = {
          firstName: this.inputFirstName,
          lastName: this.inputLastName,
          email: this.inputEmail,
          cardNumber: this.inputCardNumber,
          address: this.inputAddress,
          legalRepresentative: this.inputLegalRepresentative,
          birthDate: this.inputBirthDate,
          addressLocality: this.inputLocality,
          site: this.inputSite,
          postalCode: this.inputZip.inputLocality,
          learningLanguage: this.inputLearningLanguage,
          motherLanguage: this.inputMotherLanguage,
          site: this.inputSite,
          message: this.inputMessage
      };
      this.validationData = templateData;
      this.isSubmited = true;
      this.isForm = false;
    },
    dowloadForm: function () {
      var element = document.getElementById('validationFormPrint');
      var opt = {
      filename: 'form-rosetta-stone.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { format: 'a4', orientation: 'portrait' }
      };
      html2pdf().set(opt).from(element).save();
    },
    send: function () {
      var templateData = {
          firstName: this.inputFirstName,
          lastName: this.inputLastName,
          email: this.inputEmail,
          cardNumber: this.inputCardNumber,
          address: this.inputAddress,
          legalRepresentative: this.inputLegalRepresentative,
          birthDate: this.inputBirthDate,
          addressLocality: this.inputLocality,
          site: this.inputSite,
          postalCode: this.inputZip,
          learningLanguage: this.inputLearningLanguage,
          motherLanguage: this.inputMotherLanguage,
          message: this.inputMessage
      };
      var data = new FormData();
      data.append('to', this.inputSite);
      data.append('from', this.inputEmail);
      data.append('subject', this.subject);
      data.append('template', this.template);
      data.append('confirmation', this.confirmation);
      data.append('data', JSON.stringify(templateData));

      var request = new XMLHttpRequest();
      request.open("POST", 'https://www.mediatheque.ch/php/mv-services/send-email/');
      request.send(data);

      this.validationData = templateData;
      this.isSubmited = false;
      this.isSent = true;
      //console.log(this.validationData);
      //console.log(request);

    },
    addParam: function addParam(param, value) {
      const url = new URL(window.location);
      let params = new URLSearchParams(url.search.slice(1));
      url.searchParams.set(param, value);
      location.href = url;
    }
  },
  filters: {
    dateFormat: function (value, lang) {
      return moment(value).locale(lang).format('LL')
    },
    timeFormat: function (value, lang) {
      return moment(value, moment.HTML5_FMT.TIME).locale(lang).format('LT')
    }
  },
  mounted () {
    /* Get the browser or user language*/
    var browserLang = navigator.language.slice(0,2) || navigator.userLanguage.slice(0,2);
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('lang')) {
      var langCandidate = urlParams.get('lang');
    }
    else {
      var langCandidate = browserLang
    }
    /* Language fallback */
    if (['fr', 'de', 'en', 'it'].includes(langCandidate)) {
      this.userLang = langCandidate;
    } else {
      this.userLang = 'en';
    }

    /* Check form validity everytime the user change the form */
    var form = document.querySelector('#form');
    ["change", "keyup", "paste", "input", "propertychange"].forEach(function(e) {
      form.addEventListener(e, function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add('was-validated');
          form.querySelector('button').setAttribute("disabled", "");
        } else {
          form.querySelector('button').removeAttribute("disabled");
          console.log('form valid');
        }
      }, false);
    });
  }
})
</script>
<script> 
  var $buoop = {required:{e:-2,f:-3,o:-3,s:-1,c:-3},api:2020.04 }; 
  function $buo_f(){ 
   var e = document.createElement("script"); 
   e.src = "//browser-update.org/update.min.js"; 
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
</script>
<style>
.nav-lang-short ul li a:not([href]) {
  cursor: pointer;
  color: #adb5bd;
}
.nav-lang-short ul li a:not([href]):hover {
  color: #db0030;
  text-decoration: underline;
}
.required {
  color:#db0030;
}
</style>
</body>
</html>
