<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Inscription à Vodeclic|Médiathèque Valais</title>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide/css/base.css'>
  <link rel='stylesheet' href='https://unpkg.com/@valais-media-library/mv-styleguide/css/vendors.min.css'>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://cdn.bootcss.com/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/iframe-resizer@4.1.1/js/iframeResizer.contentWindow.min.js"></script>

</head>
<body>
  <div id="app">
    <div class="container">
      <header class="my-3">
        <hgroup>
          <h1>{{lang[this.userLang].heading.titleFirstLine}}</h1>
          <h2>{{lang[this.userLang].heading.titleSecondLine}}</h2>
        </hgroup>
        <p>{{lang[this.userLang].heading.subTitle}}</p>
      </header>
      <a :href="'mailto:'+this.helpEmail" class="float-right"><i class="far fa-question-circle"></i> {{lang[this.userLang].askHelp}}</a>
      <nav class="nav-lang-short ml-auto my-3 text-align-right">
        <ul>
          <li v-for="l in languages"><a :aria-label="l.name" v-on:click="addParam('lang', l.short)">{{l.capitalized}}</a></li>
          <!--<li><a aria-label="Español" v-on:click="addParam('lang', 'es')">ES</a></li>
          <li><a aria-label="ትግርኛ / tǝgrǝña" v-on:click="addParam('lang', 'ti')">TI (ትግርኛ)</a></li>-->
        </ul>
      </nav>
      <hr class="bold">

      <!-- If form submited -->
      <div class="" v-if="isSubmited">
        <div class="my-4">
          <div class="h4">Données transmises :</div>
          {{lang[this.userLang].label.firstName}}: {{validationData.firstName}}<br>
          {{lang[this.userLang].label.lastName}}: {{validationData.lastName}}<br>
          {{lang[this.userLang].label.email}}: {{validationData.email}}<br>
          {{lang[this.userLang].label.cardNumber}}: {{validationData.cardNumber}}<br>
          {{lang[this.userLang].label.message}}: {{inputMessage}}<br>
        </div>
        <div class="my-4">
          <div class="h3">1.</div>
          <p>{{lang[this.userLang].confirmationMessage}} :</p>
          <button type="button" name="sendConfirmation" class="btn btn-large btn-primary btn-block mt-2" v-on:click="send">{{lang[this.userLang].confirmationLabel}}</button>
        </div>
      </div>

      <!-- If form sent -->
      <div class="" v-if="isSent">
        <p>{{lang[this.userLang].validationMessage}}</p>
        <div class="my-4">
          <div class="h3">2.</div>
          <p>{{lang[this.userLang].documentationText}} :</p>
          <a type="button" name="documentation" class="btn btn-large btn-primary btn-block mt-2" :href="lang[this.userLang].documentationButtonDocumentationUrl" target="_blank">{{lang[this.userLang].documentationButtonDocumentation}}</a>
        </div>
      </div>

      <!-- Form -->
      <form id="form" class="needs-validation my-4" novalidate v-show="isForm">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inputFirstName">{{lang[this.userLang].label.firstName}} <span class="required">*</span></label>
            <input type="text" class="form-control" id="inputFirstName" v-model="inputFirstName" required>
            <div class="invalid-feedback">Indicate your first name.</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="inputLastName">{{lang[this.userLang].label.lastName}} <span class="required">*</span></label>
            <input type="text" class="form-control" id="inputLastName" v-model="inputLastName" required>
            <div class="invalid-feedback">Indicate your last name.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inputEmail">{{lang[this.userLang].label.email}} <span class="required">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputEmail">@</span>
              </div>
              <input type="email" class="form-control" id="inputEmail" v-model="inputEmail" required>
              <small id="inputEmailHelp" class="form-text text-muted">{{lang[this.userLang].label.emailHelp}}</small>
              <div class="invalid-feedback">Please, enter a valid mail address.</div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="inputCardNumber">{{lang[this.userLang].label.cardNumber}} <span class="required">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputCardNumber">#</span>
              </div>
              <input type="text" class="form-control" id="inputCardNumber" v-model="inputCardNumber" placeholder="20100xxxxx" aria-describedby="inputCardNumber" required>
              <small id="inputCardNumberHelp" class="form-text text-muted">{{lang[this.userLang].label.cardNumberHelp}} : <a href="https://www.mediatheque.ch/fr/inscription-111.html" target="_blank">{{lang[this.userLang].label.registration}}</a>.</small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label for="inputMessage">{{lang[this.userLang].label.message}}</label>
            <textarea class="form-control" id="inputMessage" rows="3" v-model="inputMessage" value=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="inputCheck" v-model="inputCheck" required>
            <label class="form-check-label" for="inputCheck"><span class="required">*</span> {{lang[this.userLang].label.check}}</label>
          </div>
        </div>
        <button class="btn btn-primary" type="button" v-on:click="submitForm" disabled>{{lang[this.userLang].label.submit}}</button>
        <a :href="'mailto:'+this.helpEmail" class="ml-4"><i class="far fa-question-circle"></i> {{lang[this.userLang].askHelp}}</a>
      </form>
    </div>
  </div>

  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

<script>

const languages = [
  {
    name: 'Français',
    short: 'fr',
    capitalized: 'FR'
  },
  {
    name: 'Deutsch',
    short: 'de',
    capitalized: 'DE'
  },
  {
    name: 'English',
    short: 'en',
    capitalized: 'EN'
  },
  {
    name: 'Italiano',
    short: 'it',
    capitalized: 'IT'
  },
];

var app = new Vue({
  el: '#app',
  data: {
    helpEmail: 'mv-formation@admin.vs.ch',
    languages: languages,
    sessionsList: [],
    validationData: {},
    isForm: true,
    isSent: false,
    isSubmited: false,
    from: 'mv-formation@admin.vs.ch',
    to: 'mv-formation@admin.vs.ch',
    subject: 'Cours en ligne: Inscription Vodeclic',
    template: 'https://valais-media-library.gitlab.io/mv-forms/email-templates/registration-vodeclic.html',
    confirmation: 'false',
    inputFirstName: null,
    inputLastName: null,
    inputEmail: null,
    inputCardNumber: null,
    inputCheck: null,
    inputMessage: null,
    userLang: 'fr',
    lang: {
      fr: {
        label: {
          firstName: 'Prénom',
          lastName: 'Nom de famille',
          email: 'E-mail',
          cardNumber: '№ de carte',
          address: 'Adresse',
          check: 'Je confirme avoir rempli le formulaire de manière conforme à la réalité.',
          message: 'Message / Remarque',
          submit: 'Envoyer',
          cardNumberHelp: "Numéro présent en dessous du code-barre de votre carte de bibliothèque ou Bibliopass. Si vous ne possédez pas de carte, veuillez vous inscrire",
          emailHelp: "Votre adresse mail va nous permettre de vous confirmer votre inscription et de vous transmettre vos identifiants",
          registration: "Inscription",
        },
        heading: {
          titleFirstLine: "Inscription",
          titleSecondLine: "à Vodeclic",
          subTitle: "Informatique et bureautique",
        },
        askHelp: 'Demander de l\'aide',
        validationMessage: 'Votre inscription à été envoyée.',
        confirmationLabel: 'Continuer',
        confirmationMessage: 'Continuez en nous envoyant un mail:',
        donwloadFormButton: "Télécharger le formulaire",
        sendFormText: "Pour valider votre inscription, veuillez nous envoyer le formulaire rempli, daté et signé à",
        documentationText: "N'oubliez pas de lire les informations générales et de prendre connaissance de la documentation",
        documentationButtonInfo: "Informations générales",
        documentationButtonDocumentation: "Documentation",
        documentationButtonDocumentationUrl: "https://www.mediatheque.ch/fr/cours-ligne-104.html",
      },
      de: {
        label: {
          firstName: 'Vorname',
          lastName: 'Name',
          email: 'E-Mail',
          cardNumber: 'Kartennummer',
          address: 'Adresse',
          birthDate: 'Geburtsdatum',
          postalCode: 'Postleitzahl',
          addressLocality: 'Ort',
          legalRepresentative: 'Gesetzlicher Vertreter',
          site: 'Ihre mediathek',
          check: 'Ich bestätige, dass ich das Formular wahreitsgetreu ausgefüllt habe.',
          message: 'Bemerkung',
          submit: 'Anmelden',
          cardNumberHelp: "Die Nummer befindet sich unter dem Strichcode Ihres Bibliotheksausweises oder Bibliopasses. Wenn Sie keine Karte haben, melden Sie sich bitte an",
          emailHelp: "Ihre E-Mail-Adresse ermöglicht es uns, Ihre Registrierung zu bestätigen und Ihnen Ihr Login und Passwort zuzusenden.",
          registration: "Anmeldung",
          legalRepresentativeHelp: "Wenn Sie minderjährig sind, geben Sie bitte den Namen, Vornamen und die Adresse Ihres gesetzlichen Vertreters an.",
        },
        heading: {
          titleFirstLine: "Anmeldung",
          titleSecondLine: "für Vodeclic",
          subTitle: "Informatik",
        },
        form: {
          mv: "Mediathek Wallis",
          cel: "Online-Kurse",
          data: "Übermittelte Daten",
          languageChoice: "Wahl der Sprache",
          languageChoose: "Wählen Sie eine Sprache",
          onlyOne: "unterstreichen oder Häkchen setzen",
          levelBeginer: "Anfänger ohne Vorkenntnisse",
          levelAdvanced: "Mittelstufe bis Fortgeschrittene",
          conditions: "Bedingungen",
          conditionsActivation: "Die Lizenz wird aktiviert, sobald das ausgefüllte und unterschriebene Formular abgegeben wird. Sobald eine Lizenz bei Rosetta Stone aktiviert ist, kann dies nicht mehr rückgängig gemacht werden.",
          conditionsEngegement: "Ich bin mir bewusst, dass das Angebot nur dann kostenlos ist, wenn ich das Minimum von 20 Stunden in einem Jahr erreiche. ",
          placeDate: "Datum und Ort",
          signature: "Unterschrift",
        },
        askHelp: 'Hilfe',
        validationMessage: 'Ihre Anmeldung wurde gesendet.',
        confirmationLabel: 'Bestätigen und senden',
        confirmationMessage: 'Zur Bestätigung und Anmeldung bei Rosetta Stone klicken Sie auf diese Schaltfläche.',
        donwloadFormText: "Laden Sie das Formular herunter, füllen Sie es aus, datieren und unterschreiben Sie es.",
        donwloadFormButton: "Das Formular herunterladen",
        sendFormText: "Um Ihre Anmeldung zu bestätigen, senden Sie bitte das Formular als Anhang, datiert und unterschrieben an",
        documentationText: "Vergessen Sie nicht, die allgemeinen Informationen zu lesen und die Dokumentation zur Kenntnis zu nehmen.",
        documentationButtonInfo: "Allgemeine Informationen",
        documentationButtonDocumentation: "Dokumentation",
        documentationButtonDocumentationUrl: "https://www.mediatheque.ch/de/online-kurse-104.html",
      },
      en: {
        label: {
          firstName: 'First name',
          lastName: 'Last name',
          email: 'E-mail',
          cardNumber: 'Card number',
          address: 'Address',
          birthDate: 'Birth date',
          postalCode: 'Postal code',
          addressLocality: 'Locality',
          site: 'You Media library',
          legalRepresentative: 'Legal representative',
          check: 'I confirm that I have completed the form in accordance with reality.',
          message: 'Message',
          submit: 'Submit',
          cardNumberHelp: "Numéro présent en dessous du code-barre de votre carte de bibliothèque ou Bibliopass. Si vous ne possédez pas de carte, vous devez vous inscrire",
          emailHelp: "Votre adresse mail va nous permettre de vous confirmer votre inscription et de vous transmettre vos identifiants",
          registration: "Inscription",
          legalRepresentativeHelp: "Si vous êtes mineur, veuillez indiquer le nom, prénom et adresse de votre représentant légal.",
        },
        heading: {
          titleFirstLine: "Registration",
          titleSecondLine: "for Vodeclic",
          subTitle: "Foreign language learning",
        },
        form: {
          data: "Données transmises",
          languageChoice: "Choix de la langue",
          languageChoose: "Choisissez la langue",
          onlyOne: "une seule coche",
          levelBeginer: "Niveau débutant",
          levelAdvanced: "Niveau intermédiaire à avancé",
          conditions: "Conditions",
          conditionsActivation: "Vos accès sont activés au retour de ce formulaire complété et signé. Dès que la licence est activée, vos accès à Vodeclic ne peuvent être annulés.",
          conditionsEngegement: "Par votre signature, vous vous engagez à utiliser Vodeclic pour <strong>un minimum de 20 heures sur une année</strong>. Si ce quota ne devait pas être atteint à l’expiration de la licence, la Médiathèque Valais vous facturera un montant forfaitaire de <strong>Fr. 50.- par licence</strong>.",
          placeDate: "Lieu et date",
          signature: "Signature",
        },
        askHelp: 'Ask for help',
        validationMessage: 'Your registration has been successfully sent.',
        confirmationLabel: 'Confirm and send',
        confirmationMessage: 'Pour confirmer, envoyer nous un mail en cliquant sur ce bouton',
        donwloadFormText: "Téléchargez le formulaire, remplissez-le, datez-le et signez-le",
        donwloadFormButton: "Télécharger le formulaire",
        sendFormText: "Pour valider votre inscription, veuillez envoyer le formulaire en pièce-jointe daté et signé à",
        documentationText: "N'oubliez pas de lire les informations générales et de prendre connaissance de la documentation",
        documentationButtonInfo: "Informations générales",
        documentationButtonDocumentation: "Documentation",
      },
      it: {
        label: {
          firstName: 'Cognome',
          lastName: 'Nome',
          email: 'E-mail',
          cardNumber: 'Numero di carta',
          address: 'Indirizzo',
          birthDate: 'Data di nascita',
          postalCode: 'Codice postale',
          addressLocality: 'Località',
          site: 'La Sua Biblioteca',
          legalRepresentative: 'Représentant légal',
          check: 'Confermo aver completato il formulario secondo la realtà.',
          message: 'Messagio',
          submit: 'Invia',
          cardNumberHelp: "Numéro présent en dessous du code-barre de votre carte de bibliothèque ou Bibliopass. Si vous ne possédez pas de carte, vous devez vous inscrire",
          emailHelp: "Votre adresse mail va nous permettre de vous confirmer votre inscription et de vous transmettre vos identifiants",
          registration: "Inscription",
          legalRepresentativeHelp: "Si vous êtes mineur, veuillez indiquer le nom, prénom et adresse de votre représentant légal.",
        },
        heading: {
          titleFirstLine: "Iscrizione",
          titleSecondLine: "per Vodeclic",
          subTitle: "Apprendimento delle lingue straniere",
        },
        form: {
          data: "Données transmises",
          languageChoice: "Choix de la langue",
          languageChoose: "Choisissez la langue",
          onlyOne: "une seule coche",
          levelBeginer: "Niveau débutant",
          levelAdvanced: "Niveau intermédiaire à avancé",
          conditions: "Conditions",
          conditionsActivation: "Vos accès sont activés au retour de ce formulaire complété et signé. Dès que la licence est activée, vos accès à Vodeclic ne peuvent être annulés.",
          conditionsEngegement: "Par votre signature, vous vous engagez à utiliser Vodeclic pour <strong>un minimum de 20 heures sur une année</strong>. Si ce quota ne devait pas être atteint à l’expiration de la licence, la Médiathèque Valais vous facturera un montant forfaitaire de <strong>Fr. 50.- par licence</strong>.",
          placeDate: "Lieu et date",
          signature: "Signature",
        },
        askHelp: 'Chiedere aiuto',
        validationMessage: 'La registrazione alla sessione informativa è stata completata con successo.',
        confirmationLabel: 'Conferma e invia',
        confirmationMessage: 'Pour confirmer, envoyer nous un mail en cliquant sur ce bouton',
        donwloadFormText: "Téléchargez le formulaire, remplissez-le, datez-le et signez-le",
        donwloadFormButton: "Télécharger le formulaire",
        sendFormText: "Pour valider votre inscription, veuillez envoyer le formulaire en pièce-jointe daté et signé à",
        documentationText: "N'oubliez pas de lire les informations générales et de prendre connaissance de la documentation",
        documentationButtonInfo: "Informations générales",
        documentationButtonDocumentation: "Documentation",
      },
    },
  },
  methods: {
    submitForm: function () {
      var templateData = {
          firstName: this.inputFirstName,
          lastName: this.inputLastName,
          email: this.inputEmail,
          cardNumber: this.inputCardNumber,
          message: this.inputMessage
      };
      this.validationData = templateData;
      this.isSubmited = true;
      this.isForm = false;
    },
    dowloadForm: function () {
      var element = document.getElementById('validationFormPrint');
      html2pdf(element);
    },
    send: function () {
      var templateData = {
        firstName: this.inputFirstName,
        lastName: this.inputLastName,
        email: this.inputEmail,
        cardNumber: this.inputCardNumber,
        message: this.inputMessage
      };
      var data = new FormData();
      data.append('to', this.to);
      data.append('from', this.inputEmail);
      data.append('subject', this.subject);
      data.append('template', this.template);
      data.append('confirmation', this.confirmation);
      data.append('data', JSON.stringify(templateData));

      var request = new XMLHttpRequest();
      request.open("POST", 'https://www.mediatheque.ch/php/mv-services/send-email/');
      request.send(data);

      this.validationData = templateData;
      this.isSubmited = false;
      this.isSent = true;
      //console.log(this.validationData);
      //console.log(request);

    },
    addParam: function addParam(param, value) {
      const url = new URL(window.location);
      let params = new URLSearchParams(url.search.slice(1));
      url.searchParams.set(param, value);
      location.href = url;
    }
  },
  filters: {
    dateFormat: function (value, lang) {
      return moment(value).locale(lang).format('LL')
    },
    timeFormat: function (value, lang) {
      return moment(value, moment.HTML5_FMT.TIME).locale(lang).format('LT')
    }
  },
  mounted () {
    /* Get the browser or user language*/
    var browserLang = navigator.language.slice(0,2) || navigator.userLanguage.slice(0,2);
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('lang')) {
      var langCandidate = urlParams.get('lang');
    }
    else {
      var langCandidate = browserLang
    }
    /* Language fallback */
    if (['fr', 'de', 'en', 'it'].includes(langCandidate)) {
      this.userLang = langCandidate;
    } else {
      this.userLang = 'en';
    }

    /* Check form validity everytime the user change the form */
    var form = document.querySelector('#form');
    ["change", "keyup", "paste", "input", "propertychange"].forEach(function(e) {
      form.addEventListener(e, function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add('was-validated');
          form.querySelector('button').setAttribute("disabled", "");
        } else {
          form.querySelector('button').removeAttribute("disabled");
          console.log('form valid');
        }
      }, false);
    });
  }
})
</script>
<script> 
  var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},api:2020.04 }; 
  function $buo_f(){ 
   var e = document.createElement("script"); 
   e.src = "//browser-update.org/update.min.js"; 
   document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
</script>
<style>
.nav-lang-short ul li a:not([href]) {
  cursor: pointer;
  color: #adb5bd;
}
.nav-lang-short ul li a:not([href]):hover {
  color: #db0030;
  text-decoration: underline;
}
.required {
  color:#db0030;
}
</style>
</body>
</html>
