<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>email</title>

  <style type="text/css">
  .tg {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
</head>
<body>
  <h2>Vodeclic: Nouvelle inscription en ligne</h2>
  <p>Le lecteur {{firstName}} {{lastName}} souhaite s'inscrire. Ci-dessous, voici ses données:</p>
  <table class="tg">
  <tr>
    <td class="tg-0lax">{{lastName}}</td>
    <td class="tg-0lax">{{firstName}}</td>
    <td class="tg-0lax">{{email}}</td>
    <td class="tg-0lax">{{cardNumber}}</td>
  </tr>
</table>
<p>Message : {{message}}</p>
<br>
</body>
</html>
